.board-main-container {
    margin-left: 232px;
    margin-top: 96px;
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
}

.board-headline {
    display: flex;
    max-width: 1208px;
    justify-content: space-between;
    align-items: center;
    padding: 79.5px 88px 48px 64px;
}

.board-headline-text {
    color: #000;
    /* Version 2/t1 */
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 73.2px */
}

.board-headline-container-search-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.board-input-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    width: 314px;
    padding: 8px 16px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFF;
    /* placeholder */
    color: #D1D1D1;
    /* Version 2/t6 */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.board-button-addTask {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}

.board-text-addTask {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 25.2px */
}

/* sytle task area */
.board-task-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1208px;
    padding: 0px 64px;
    align-items: flex-start;
    justify-content: space-between;
}

.board-task-category {
    display: flex;
    width: 252px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}

.board-task-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
}

.board-task-container {
    width: 100%;
}

.board-add-task-headline {
    color: var(--menu-color, #42526E);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-add-task-category {
    width: 24px;
    height: 24px;
    padding: 3px;
    color: #2A3647;
    border-radius: 8px;
    border: 2px solid #2A3647;
}

.board-no-task-feedback {
    display: flex;
    height: 48px;
    margin-top: 16px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.board-no-task-feedback-text {
    color: var(--icon, #A8A8A8);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

span.board-task-card-preview {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.board-task-card-preview {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 16px;
    max-width: 252px;
    padding: 16px;
    border-radius: 24px;
    background: var(--white, #FFF);
    /* shadoe backlog box */
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.board-task-card-taskcategory {
    width: fit-content;
    padding: 4px 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    background: #0038FF;
    color: #FFF;
    /* font-size: 16px; */
    /* font-style: normal;
    font-weight: 400;
    line-height: 120%; */
}

.board-task-card-headline {
    margin-bottom: 8px;
    color: var(--Version-2-main-color, #2A3647);
    /* font-size: 16px; */
    /* font-style: normal; */
    font-weight: 700;
    /*line-height: 120%; */
    /* 19.2px */
}

.board-task-card-description {
    color: var(--icon, #A8A8A8);
    margin-bottom: 24px;
    /* Version 2/body */
    /* font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%; */
    /* 19.2px */
}

.board-task-card-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px 2px 0px;
    width: 220px;
    height: 16px;
}

.board-task-card-progressbar {
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background: #F4F4F4;
}

.board-task-card-progress {
    width: 128px;
    height: 8px;
    border-radius: 16px;
    background: var(--Version-2-main-color, #4589FF);
}

.board-task-card-progress-text {
    color: #000;
    font-size: 12px;
}

.board-task-card-profile-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.board-task-card-profile-container {
    display: flex;
    align-items: center;
    /* padding-top: 16px;
    margin-bottom: 16px; */
}

.board-task-card-profile {
    position: relative;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 45px;
    background: #FFF;
}

.board-task-card-profile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #FFF;
}

.board-task-card-priority {
    padding-right: 7.5px;
}

@media (max-width: 550px) {

    .board-main-container {
        margin-left: 0;
        margin-top: 88px;
        height: calc(100% - 168px);
    }

    .board-headline {
        justify-content: space-between;
        align-items: center;
        padding: 48px 16px 24px 16px;
        /* Anpassen nach Einbindung serach input */
    }

    .board-headline-text {
        font-size: 47px;
    }

    .board-input-search {
        display: none;
    }

    .board-text-addTask {
        display: none;
    }

    .board-button-addTask {
        height: 40px;
        width: 40px;
        padding: 3px;
    }

    .board-task-main {
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 0 16px;
        overflow: auto;
    }

    .board-task-category {
        width: 100%;
    }

    .board-task-headline {
        width: 100%;
    }

    .board-add-task-headline {
        font-size: 27px;
    }

    .board-add-task-category {
        width: 30px;
        height: 30px;
        padding: 3px;
    }

    /* media mobile nav-leiste */
    header {
        padding: 16px 20px;
    }

    /* media mobile nav-leiste */
    /* .nav-desktop {
        position: absolut;
        bottom: 0;
        width: auto;
        height: auto;
        padding: 0 16px;
    }

    .nav-logo {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    .nav-menu-point {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        align-items: center;
    }

    .nav-menu-point img {
        width: 24px;
        height: 24px;
    }

    .nav-menu-point p {
        font-size: 14px;
    }

    .legal-notice {
        display: none;
    } */
}