body {
  overflow: hidden;
}

.main-container-body {
  padding-left: 232px;
  padding-top: 96px;
}

.contact-container {
  display: flex;
}

.contact-container-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  width: 40%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.contact-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 85vh;
  overflow-y: auto;
}

.contact-list > h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 36px;
}

.contact-list-spacer {
  height: 20px;
  width: 90%;
  background-color: #f6f7f8;
  margin: 10px 0;
}

.contact-container-right {
  display: flex;
  margin-left: 50px;
  width: 60%;
}

.contact-container-right-header {
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-container-right-header > h1 {
  font-size: 64px;
}

.contact-container-right-header > p {
  font-size: 28px;
}

.contact-spacer1 {
  height: 60px;
  width: 3px;
  background-color: #29abe2;
}
.contact-spacer2 {
  display: none;
  width: 150px;
  height: 3px;
  background-color: #29abe2;
}

.contact-list > * {
  margin: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.contact-card {
  border-radius: 10px;
  padding: 15px 24px;
  cursor: pointer;
}

.contact-card:hover {
  background-color: #2a3647;
  color: white;
}

.contact-email {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px white;
  color: white;
  font-size: 16px;
}

.contact > h1 {
  font-size: 20px;
}

.contact > p {
  font-size: 16px;
  color: #007cee;
}

.big-contact-card {
  height: fit-content;
  margin-top: 200px;
}

.big-contact-header {
  display: flex;
  align-items: center;
  gap: 54px;
  margin-bottom: 21px;
}

.big-contact-header > h1 {
  font-size: 47px;
  font-weight: 500;
}

.big-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px white;
  color: white;
  font-size: 48px;
}

.big-contact-name-edits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.big-contact-edit-delete {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.big-contact-edit {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.big-contact-edit:hover {
  color: blue;
}

.big-contact-delete {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.big-contact-delete:hover {
  color: blue;
}

.big-contact-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.big-contact-infos > h2 {
  margin-bottom: 21px;
  font-size: 20px;
  font-weight: 400;
}

.big-contact-infos > h3 {
  font-size: 16px;
  font-weight: 700;
}

.big-contact-infos > a {
  font-size: 16px;
  font-weight: 400;
  color: #007cee;
  cursor: pointer;
}

.add-contact {
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #2a3647;
  gap: 16px;
  height: 56px;
  width: 100%;
  max-width: 500px;
  padding: 12px 0px;
  margin: 22.5px 52px 22.5px 52px;
  cursor: pointer;
}

.add-contact:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 1px 7px 3px 0px rgba(0, 0, 0, 0.1);
}

.add-contact-card {
  display: flex;
  position: absolute;
  z-index: 999;
  height: 50vh;
  width: 80vw;
  top: 25vh;
  left: 10vw;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.add-contact-card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #2a3647;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: white;
}

.add-contact-card-imgtext {
  margin-left: 30px;
}

.add-contact-card-imgtext > h1 {
  font-size: 64px;
  font-weight: bold;
}

.add-contact-card-imgtext > p {
  font-size: 38px;
}

.add-contact-logo {
  height: 64px;
  width: 64px;
  margin-bottom: 10px;
}

.add-contact-card-spacer {
  border-radius: 5px;
  margin-top: 20px;
  height: 4px;
  width: 125px;
  background-color: #29abe2;
}

.add-contact-card-right {
  margin-right: 48px;
  width: 60%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
}

.add-contact-person {
  padding: 50px;
  box-sizing: content-box;
  background-color: #d1d1d1;
  border: 3px solid white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 150px;
  height: 50px;
}

.bg-filter {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.d-none {
  display: none;
}

.contact-inputs {
  padding: 20px;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  margin-top: 32px;
  border: 1px solid #d1d1d1;
  display: flex;
  font-size: 18px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#contact-input-email {
  background: url(/img/login/login_input_email.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

#contact-input-name {
  background: url(/img/login/login_input_name.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

#contact-input-phone {
  background: url(/img/login/call.svg) right center / contain no-repeat;
  background-origin: content-box;
  background-size: auto;
}

.add-contact-button {
  margin-top: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#contact-create-button {
  background-color: #2a3647;
  color: white;
  font-weight: bold;
  padding: 15px 24px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#contact-cancel-button {
  background-color: white;
  color: #2a3647;
  font-weight: bold;
  border: 1px solid #2a3647;
  padding: 15px 24px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-back-button-mobile {
  position: absolute;
  top: 125px;
  right: 24px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.mobile-add-contact {
  position: absolute;
  right: 16px;
  bottom: 135px;
  display: none;
  border-radius: 46px;
  background-color: #2a3647;
  padding: 12px;
  border: 1px solid #2a3647;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mobile-add-contact-img {
  display: none;
}

@media (max-width: 1350px) {
  .contact-list > * {
    margin: 10px 0px 10px 0px;
    gap: 15px;
  }
  .circle {
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
    font-size: 14px;
  }
  .contact > h1 {
    font-size: 16px;
  }
  .contact > p {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .contact-list > * {
    margin: 5px 0px 5px 0px;
    gap: 10px;
  }
  .circle {
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    font-size: 12px;
  }
  .contact > h1 {
    font-size: 14px;
  }
  .contact > p {
    font-size: 10px;
  }
  .contact-spacer1 {
    display: none;
  }
  .contact-spacer2 {
    display: block;
  }
  .contact-container-right-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .big-contact-card {
    margin-top: 250px;
  }
  .big-contact-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .big-circle {
    width: 150px;
    height: 150px;
  }
  .big-contact-name-edits {
    gap: 16px;
    margin-bottom: 25px;
  }
}
@media (max-width: 850px) {
  .main-container-body {
    padding-left: 0px;
  }
  .contact-container-left {
    width: 100%;
  }
  .contact-container-right {
    display: none;
  }
  .contact > h1 {
    font-size: 20px;
  }
  .contact > p {
    font-size: 16px;
  }
  .contact-container-right {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    width: 100%;
    height: 100%;
  }
  .big-contact-header {
    align-items: center;
    flex-direction: row;
  }
  .contact-container-right-header {
    top: 125px;
  }

  .add-contact {
    display: none;
  }

  .mobile-add-contact {
    display: block;
  }

  .mobile-add-contact-img {
    display: block;
  }
  .add-contact-card {
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 97vw;
  }
  .add-contact-logo {
    display: none;
  }

  .add-contact-card-left {
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
  }

  .add-contact-card-right {
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
  #contact-cancel-button {
    display: none;
  }

  .add-contact-card-imgtext {
    margin-left: 24px;
  }

  .add-contact-card-imgtext > h1 {
    font-size: 36px;
  }

  .add-contact-card-imgtext > p {
    font-size: 18px;
  }

  .add-contact-person {
    display: flex;
  }
}

@media (max-width: 450px) {
  .contact > h1 {
    font-size: 16px;
  }
  .contact > p {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .contact > h1 {
    font-size: 14px;
  }
  .contact > p {
    font-size: 10px;
  }
}
