body {
  white-space: nowrap;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

.signup-container {
  position: absolute;
  top: 67px;
  right: 122px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.login-img {
  position: absolute;
  top: 80px;
  left: 77px;
  width: 14vw;
  height: 8vh;
}

.login-spacer {
  width: 150px;
  height: 3px;
  background-color: #29abe2;
  align-self: center;
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 48px 115px 48px 115px;
  border-radius: 30px;
}

.login-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login-inputs {
  padding: 20px;
  width: 380px;
  height: 21px;
  border-radius: 10px;
  margin-top: 32px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-and-text {
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.button-img {
  background-color: #2a3647;
  border-radius: 5px;

}

.remember-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0;
  margin-right: 20px;
} 

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 32px;
}

#signup-button {
  padding: 15px 16px;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  font-weight: bold;
}

#login-input-email {
  background: url(/img/login/login_input_email.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

#login-input-password {
  background: url(/img/login/login_input_password.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

#user-login-button {
  height: 48px;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  font-weight: bold;
}

#guest-login-button {
  height: 48px;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: white;
  color: #2a3647;
  border: 1px solid #2a3647;
  font-weight: bold;
}

@media (max-width: 650px) {
  .login-container {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .login-centering {
    align-items: flex-start;
  }

  .login-img {
    position: absolute;
    top: 37px;
    left: 38px;
  }

  .signup-container {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: 70px;
  }
  .login-container {
    margin-top: 205px;
    width: 396px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 60px 48px 60px;
    border-radius: 30px;
  }

  .login-inputs {
    width: 350px;
  }

  .login-buttons {
    flex-direction: column;
  }
  .login-buttons > * {
    width: 180px;
  }
}

@media (max-width: 400px) {
  .login-container {
    width: 300px;
  }

  .login-inputs {
    width: 250px;
  }

  .login-remember {
    display: flex;
    align-items: center;
    padding: 0px 75px 0px 40px;
  }

  .login-buttons {
    width: 150px;
  }
}
