.login-container {
  display: flex;
  flex-direction: column;
}

.login-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.login-inputs {
  padding: 0px 0px 0px 20px;
  width: 380px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-input-email {
  background: url(/img/login_input_password.svg) right center / contain
    no-repeat;
  padding-right: 20px;
  background-origin: content-box;
}

#login-input-password {
  background: url(/img/login_input_password.svg) right center / contain
    no-repeat;
  padding-right: 20px;
  background-origin: content-box;
}

.login-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 241px 0px 39px;
  background-color: white;
  border: 0;
}
