.nav-desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  position: fixed;
  z-index: 998;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  color: #cdcdcd;
  gap: 16px;
  align-items: flex-start;
}

.nav-menu-point {
  display: flex;
  justify-content: left;
  cursor: pointer;
  align-items: center;
  width: 100%;
  border: 0px solid white;
  padding: 8px 62px 8px 61px;
  gap: 8px;
}

.nav-menu-point:hover {
  background-color: rgba(9, 25, 49, 1);
}

.nav-menu-point a {
  color: #cdcdcd;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.legal-notice {
  display: flex;
  flex-direction: column;
  color: #a8a8a8;
  cursor: pointer;
  gap: 8px;
}

.legal-notice a {
  font-size: 16px;
  padding: 8px;
  color: rgba(168, 168, 168, 1);
}

.legal-notice a:hover {
  color: rgba(41, 171, 226, 1);
}

.active-menu-link {
  background-color: rgba(9, 25, 49, 1);
}

@media (max-width: 850px) {
  .nav-desktop {
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0;
    align-items: stretch;
  }

  .nav-logo {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 0;
  }

  .nav-menu-point {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    padding: 0;
  }

  .nav-menu-point img {
    width: 24px;
    height: 24px;
  }

  .nav-menu-point p {
    font-size: 14px;
  }

  .legal-notice {
    display: none;
  }
}
.activeMenuLink {
  background-color: rgba(9, 25, 49, 1);
}
