.nav-desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  position: fixed;
  z-index: 999;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  color: #cdcdcd;
  gap: 16px;
  align-items: flex-start;
}

.nav-menu-point {
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;
}

.legal-notice {
  display: flex;
  flex-direction: column;
  color: #a8a8a8;
  cursor: pointer;
}

@media (max-width: 550px) {
  .nav-desktop {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    padding: 0;
  }

  .nav-logo {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .nav-menu-point {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    align-items: center;
  }

  .nav-menu-point img {
    width: 24px;
    height: 24px;
  }

  .nav-menu-point p {
    font-size: 14px;
  }

  .legal-notice {
    display: none;
  }
}