body {
  white-space: nowrap;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

.signup-img {
  position: absolute;
  top: 80px;
  left: 77px;
  width: 14vw;
  height: 8vh;
}

.signup-spacer {
  width: 150px;
  height: 3px;
  background-color: #29abe2;
  align-self: center;
}

.signup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 48px 115px 48px 115px;
  border-radius: 30px;
}

.signup-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signup-inputs {
  padding: 20px;
  width: 380px;
  height: 21px;
  border-radius: 10px;
  margin-top: 32px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#signup-input-email {
  background: url(/img/login/login_input_email.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

#signup-input-password {
  background: url(/img/login/login_input_password.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

#signup-input-name {
  background: url(/img/login/login_input_name.svg) right center / contain
    no-repeat;
  background-origin: content-box;
  background-size: auto;
}

.signup-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 241px 0px 39px;
  background-color: white;
  border: 0;
}

.accept-button {
  display: flex;
  align-items: center;
  margin-top: 32px;
  background-color: white;
  border: 0;
}

#signup-button {
  margin-top: 32px;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: #2a3647;
  color: white;
  font-weight: bold;
}

@media (max-width: 650px) {
  .signup-container {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .signup-centering {
    align-items: flex-start;
  }

  .signup-img {
    position: absolute;
    top: 37px;
    left: 38px;
  }

  .signup-container {
    margin-top: 205px;
    width: 396px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 60px 48px 60px;
    border-radius: 30px;
  }

  .signup-inputs {
    width: 350px;
  }

  .signup-buttons {
    flex-direction: column;
  }
  .signup-buttons > * {
    width: 180px;
  }
}

@media (max-width: 400px) {
  .signup-container {
    width: 300px;
  }

  .signup-inputs {
    width: 250px;
  }

  .signup-remember {
    display: flex;
    align-items: center;
    padding: 0px 75px 0px 40px;
  }

  .signup-buttons {
    width: 150px;
  }
}
