<div class="nav-desktop">
  <img class="nav-logo" src="/img/logo_nav_desktop.svg" />
  <div class="nav-menu">
    <div class="nav-menu-point">
      <img src="/img/summary_icon.svg" />
      <a href="summary.html">Summary</a>
    </div>
    <div class="nav-menu-point">
      <img src="/img/add_task_icon.svg" />
      <a href="add_task.html">Add Task</a>
    </div>
    <div class="nav-menu-point">
      <img src="/img/board_icon.svg" />
      <a href="board.html">Board</a>
    </div>
    <div class="nav-menu-point">
      <img src="/img/contacts_icon.svg" />
      <a href="contact.html">Contacts</a>
    </div>
  </div>
  <div class="legal-notice">
    <a href="privacy_police.html">Privacy Policy</a>
    <a href="legal_notice.html">Legal Notice</a>
  </div>
</div>
