<div class="nav-desktop">
  <img class="nav-logo" src="/img/logo_nav_desktop.svg" />
  <div class="nav-menu">
    <div class="nav-menu-point">
      <a href="summary.html">
        <img class="p-r-8" src="/img/summary_icon.svg" />
        Summary
      </a>
    </div>
    <div class="nav-menu-point">
      <a href="add_task.html">
        <img class="p-r-8" src="/img/add_task_icon.svg" />
        Add Task
      </a>
    </div>
    <div class="nav-menu-point">
      <a href="board.html">
        <img class="p-r-8" src="/img/board_icon.svg" />
        Board
      </a>
    </div>
    <div class="nav-menu-point">
      <a href="contact.html">
        <img class="p-r-8" src="/img/contacts_icon.svg" />
        Contacts
      </a>
    </div>
  </div>
  <div class="legal-notice">
    <a href="privacy_police.html">Privacy Policy</a>
    <a href="legal_notice.html">Legal Notice</a>
  </div>
</div>
