<div class="nav-desktop">
  <img class="nav-logo" src="/img/logo_nav_desktop.svg" />
  <div class="nav-menu">
    <div class="nav-menu-point">
      <img src="/img/summary_icon.svg" />
      <p><a href="summary.html">Summary</a></p>
    </div>
    <div class="nav-menu-point">
      <img src="/img/add_task_icon.svg" />
      <p><a href="add_task.html">Add Task</a></p>
    </div>
    <div class="nav-menu-point">
      <img src="/img/board_icon.svg" />
      <p><a href="board.html">Board</a></p>
    </div>
    <div class="nav-menu-point">
      <img src="/img/contacts_icon.svg" />
      <p><a href="contact.html">Contacts</a></p>
    </div>
  </div>
  <div class="legal-notice">
    <p><a href="privacy_police.html">Privacy Policy</a></p>
    <p><a href="legal_notice.html">Legal Notice</a></p>
  </div>
</div>
